node_modules/
certs/*.pem
certs/*.pfx
certs/
output/*.csv
.env

files/
app_anterior/
.venv/

qlik-graficos/
qlik-analisis/output
qlik-analisis/data
output/
193.25.24.85/

pem-qlik.txt
medidas.txt
variables.txt
